@import "tailwindcss";

@theme{
    --font-nunito:"Nunito", sans-serif;
    --font-poppins:"Poppins", sans-serif;
    --font-roboto : "Roboto", sans-serif; 
    --font-rubika:"Rubik", sans-serif
}